/* CSS Document */
body {
	font-family:Helvetica, sans-serif;
	font-size: 14px;
	padding: 0;
	margin: 0;
	color: #333;
	background-size:100%;
}

a{
	text-decoration: none;
}
dl,dt,dd {
	margin: 0;
	padding: 0;
}
img {
	border: 0;	
    width:100%; 
	height:auto;
	display:block;
}
br {
	font-size: 0;
	line-height: 10px;
	height: 10px;
}

/* 头部 */
.top {
	height: 90px;
	margin: 0 auto;
	background: url(../image/1.jpg) no-repeat left center;	
}


/* 登录主体 */
.main {

}
.main .denglu {
	width: 1280px;
	height: 750px;
	margin: 0 auto;
	position: relative;
}
.main .denglu .text {
	width: 450px;
	position: absolute;
	left: 260px;
	top: 155px;
	line-height: 26px;
}
.main .denglu .dlk {
	width: 354px;
	height: 328px;
	position: absolute;
	right: 180px;
	top: 300px;
	color: #e1e1e1;
}
.main .denglu .dlk a.mm {
	color: #000;
	font-size: 12px;
}
.main .denglu .dlk a.mm:hover {
	color: #C00;
}
.main .denglu .dlk a.zc {
	color: #F60;
}
.main .denglu .dlk a.zc:hover {
	color: #C00;
}

/* 登录底部 */
.footer {
	font-size: 13px;
	height: 70px;
	line-height:70px;
	text-align: center;
	color: #666;	
}

/* button,input */
.dlinput {
	margin: 0;
	padding: 0;
	border: 1px solid #ccc;
	width: 222px;
	height: 34px;
	line-height: 34px;
	text-indent: 2px;
	font-size: 14px;
	
}
.loginbtn {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: #5a98de;
	border: none 0;
	width: 224px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	font-family: "΢���ź�";
	font-size: 16px;
	color: #FFF;
	padding: 0;
	margin: 0;
}

